.wrapper{
  grid-column: 3;
  justify-self: end;
  width: 32px;
  display: flex;
  justify-content: center;
}

.hhLink {
  transition: filter 0.3s ease;

  &:hover {
    filter: drop-shadow(0px 0px 5px rgba(255, 48, 48, 0.8));
  }
}

.hhLink > img{
  width: 28px;
  height: 28px;
  transition: ease 0.3s;

  &:hover{
    width: 32px;
    height: 32px;
  }
}